<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouse Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.9.0"></script>
    <script src="{{ url_for('static', filename='js/mouse_tracker_game.js') }}"></script>
    <script src="{{ url_for('static', filename='js/button_game.js') }}"></script>
</head>
<body>
    <h1>MouseBotIdentifier</h1>
    <div id="results"></div>
    <div id="batch-counter">Batches Collected: 0</div>
    <button id="random-button" style="position: absolute;">Click me!</button>
</body>
</html>
